* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.08rem;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.text-blue {
  color: #7032EF !important;
}

.icon {
  width: 60px;
}

.icon img {
  width: 100%;
}

.btn-outline-contact {
  padding: 8px 25px;
  border: 1px solid #D308FF;
  color: #D308FF !important;
  border-radius: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-outline-contact:hover {
  background: linear-gradient(135deg, #7032EF, #D308FF);
  color: #fff !important;
  border-color: transparent;
}

.item-active {
  background: linear-gradient(135deg, #7032EF, #D308FF);
  color: #fff !important;
}

.item-active p {
  color: #fff !important;
}

.btn-outline-sweet {
  padding: 8px 25px;
  border: 1px solid #D308FF;
  color: #D308FF !important;
  border-radius: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-outline-sweet:hover {
  background: linear-gradient(135deg, #7032EF, #D308FF);
  color: #fff !important;
  border-color: transparent;
}

.btn-sweet {
  padding: 8px 25px;
  border: 1px solid transparent;
  background: linear-gradient(135deg, #7032EF, #D308FF);
  color: #fff !important;
  border-radius: 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-sweet:hover {
  opacity: .8;
}

section {
  padding: 3.5rem 0;
}

/* Header Section */
.header-active {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
}

header nav .navbar-brand {
  color: #7032EF !important;
  font-size: 25px;
  font-weight: 600;
}

header nav .nav-link {
  line-height: 40px;
  font-size: 17px !important;
  color: #3a444e !important;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

header nav .nav-item:last-child .nav-link {
  margin-right: 0 !important;
}

/* Home Section */
.home {
  background: url(../img/res_bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Feature Section */
.features {
  background: #f8faff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.features .single-item {
  color: #5a84a2;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.features .single-item:hover {
  -webkit-box-shadow: inset 0 0px 38px rgba(0, 0, 0, 0.03);
          box-shadow: inset 0 0px 38px rgba(0, 0, 0, 0.03);
}

/* About Section */
.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 250, 255, 0.5)), to(#f8faff)), url(../img/parallax-bg-04.png);
  background: linear-gradient(rgba(248, 250, 255, 0.5), #f8faff), url(../img/parallax-bg-04.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 250, 255, 0.8)), to(rgba(248, 250, 255, 0.8))), url(../img/landing.png);
  background: linear-gradient(rgba(248, 250, 255, 0.8), rgba(248, 250, 255, 0.8)), url(../img/landing.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service .single-item {
  color: #5a84a2;
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0px 38px rgba(0, 0, 0, 0.03);
          box-shadow: inset 0 0px 38px rgba(0, 0, 0, 0.03);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.service .single-item:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
}
/*# sourceMappingURL=style.css.map */